span.button {
    margin-right:4px;
    width: 64px;
    height: 64px;
    float: right;
}
.button-border {
    width: 44px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.button-icon {
	margin-left: auto;
	margin-right: auto;
	line-height: inherit;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 42px;
}
.button-text {
    padding-top: 4px;
	font-size: 1vw;
    text-align: center;
}
.selected {
	background-color: #2c76bc !important;
	transition: background 0.3s linear;
}
.notselected {
	background-color: #262628 !important;
	transition: background 0.3s linear;
}
.disabled {
	color: #999;
	border-color: #999;
}