<div *ngIf="task.Acknowledged === '0'" class="task_List" class="pop" popover="{{ (task.Acknowledged === '1') ?  '' : task_ToolTip }}" popoverPlacement="top">
  <div class="col-sm-3 col-md-2 col-lg-1 col-xs-2 nobg" style="padding-top: 5px; padding-bottom: 7px;">
    <span *ngIf="task.Acknowledged !=='0'"><font color="white" [innerHTML]="task.TaskID"></font></span>
    <input id='btnAcknowledgeTask' type="button" class="btn btn-primary" style="border: 1px solid #ffffff;" *ngIf="task.Acknowledged !== '1'"
      value="Acknowledge" (click)="acknowledgeTask(task)" />
  </div>
  <div id='btnGetTaskDetail' class="col-sm-9 col-md-10 col-lg-9 col-xs-8 nobg" style="padding-top: 5px; padding-bottom: 7px;"
    (click)="getTaskDetail(task, aircraft)">
    <span><font color="white" [innerHTML]="task.DiscrepancyShort"></font></span>
  </div>
</div>

<div *ngIf="task.Acknowledged === '1'" class="task_List">
  <div class="col-sm-3 col-md-2 col-lg-1 col-xs-2 nobg" style="padding-top: 5px; padding-bottom: 7px;">
    <span *ngIf="task.Acknowledged !=='0'"><font color="white" [innerHTML]="task.TaskID"></font></span>
    <input id='btnAcknowledgeTask' type="button" class="btn btn-primary" style="border: 1px solid #ffffff;" *ngIf="task.Acknowledged !== '1'"
      value="Acknowledge" (click)="acknowledgeTask(task)" />
  </div>
  <div id='btnGetTaskDetail' class="col-sm-9 col-md-10 col-lg-9 col-xs-8 nobg" style="padding-top: 5px; padding-bottom: 7px;"
    (click)="getTaskDetail(task, aircraft)">
    <span><font color="white" [innerHTML]="task.DiscrepancyShort"></font></span>
  </div>
</div>
<div class="clear"></div>